.repl-container {
    position: relative;
    padding: 15px;
}

.mud-overlay {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 10rem;
    opacity: 0.3;
    pointer-events: none;
}

.repl-interface {
    background-color: #333;
    color: #f6f6f6;
    padding: 20px;
    padding-bottom: 100px;
    scroll-padding-bottom: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    white-space: pre-wrap;
    height: 80vh;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    margin: 1rem auto 0 auto;

}

#term-scroll-end {
    min-height: 3rem !important;
}

/* Editor Styles */

.cm-editor {
    background-color: transparent;
}

.cm-gutters {
    border-right: 1px solid #232323 !important;
    color: #6c6c6c !important;
    background-color: transparent !important;
    min-width: 40px !important;
    align-items: right !important;
}

.cm-gutterElement {
    align-items: right !important;
}

.cm-activeLineGutter {
    background-color: #232323 !important;
}

.cm-activeLine {
    background-color: transparent !important;
    box-shadow: inset 7px 0 9px -7px rgba(0, 0, 0, 0.4) !important;
}

.cm-focused {
    outline: none !important;
}

.cm-tooltip-autocomplete,
.cm-tooltip-autocomplete div {
    background-color: #232323 !important;
}

.cm-line::selection {
    color: #232323 !important;
    /* your text color */
}

.cm-line::selection * {
    background: transparent;
}

.cm-line::selection span {
    background: transparent;
    color: inherit;
}

.term-line-err {
    background-color: rgba(255, 0, 0, 0.2) !important;
}

/* Syntax Highlighting Overrides */

/* Strings */
.ͼe {
    color: #d472c1 !important;
}

/* Comments */
.ͼm {
    color: #d1874b !important;
}

/* Numbers */
.ͼd {
    color: #3cc48e !important;
}

/* Misc Keywords */
.ͼb {
    color: #d40592 !important;
}