.repl-container {
    position: relative;
    padding: 15px;
}

.mud-overlay {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 10rem;
    opacity: 0.3;
    pointer-events: none;
}

.repl-interface {
    background-color: #333;
    color: #f6f6f6;
    padding: 20px;
    padding-bottom: 0;
    scroll-padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    white-space: pre-wrap;
    height: 85vh; /* Increased to allow space for the input */
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    margin: 1rem auto;
}

.term-input {
    width: 100%;
    background-color: transparent;
    color: #f6f6f6;
    border: none;
    outline: none;
    font-family: monospace;
    padding: 5px; /* Added some padding */
    margin-top: 5px;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

.term-input::placeholder {
    color: #bbb;
}

pre {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}
